.actionsbuttons {
  margin: 0 15px; }
  .actionsbuttons .iconBox {
    width: 48%;
    margin: 1%;
    float: left;
    background: #1666af;
    padding: 20px;
    box-sizing: border-box; }
    .actionsbuttons .iconBox h3, .actionsbuttons .iconBox p {
      color: #fff;
      margin-bottom: 0; }
    .actionsbuttons .iconBox p {
      margin-top: 0;
      color: #eee; }
